<div class="jumbotron">
    <div class="container">
        <h1>Systems Design Pro</h1>
        <p>We make IT easy for you.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>PDF Page</h2>
            <p>{% lorem %}</p>
        </div>
        <div class="col-md-6">
            <h2>Contact</h2>
            <p>{% lorem %}</p>
            <p>
                <a class="btn btn-default"
                    href="{% url 'page' 'contact' %}" role="button">Contact us »</a>
            </p>
        </div>
        <a href="http://www.w3schools.com">Visit W3Schools.com!</a></br>
	<a href="{% url 'page' 'signature' %}">Signature page</a></br>
	<a href="{% url 'page' 'pdf_view' %}">PDF View</a>
    </div>
</div>

<hr>

<footer>
    <div class="container">
        <p>&copy; Systems Design Pro {% now 'Y' %}</p>
    </div>
</footer>
